body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.message {
    background: #417505;
    width: 480px;
    color: white;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}